// Rich text editor styles
.tiptap ProseMirror .h1 strong {
  font-size: 67px !important;
}

// Rich text area styles
[data-rich-text] {
  p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

[data-rich-text]:has(ul) {
  background-color: #fffbe6;
  padding: 1rem;
  border-color: #ffe58f;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  p {
    font-size: 16px;
    color: #976b0c;
    font-weight: 400;
  }
}
