%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  color: $headings-color;
}

h1 {
  @extend %heading;
  font-size: 58px;
  line-height: 60px;
  @media (max-width: 1024px) {
    font-size: 48px;
    line-height: 43px;
  }
  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 52px;
  }
}

h2 {
  @extend %heading;
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  @media (max-width: 1024px) {
    font-size: 40px;
    line-height: 46px;
  }
  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 42px;
  }
}

h3 {
  @extend %heading;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 34px;
  }
}

h4 {
  @extend %heading;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin:0;
  @media (max-width: 1024px) {
    font-size: 30px;
    line-height: 32px;
  }
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 30px;
  }
}

h5 {
  @extend %heading;
  font-size: 26px;
  line-height: 28px;
  font-weight: 800;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h6 {
  @extend %heading;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 22px;
  }
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.h7 {
  @extend %heading;
  @include font-size($h7-font-size);
}

strong {
  font-weight: $bold-font-weight !important;
}

p:not([class]),
p.p, .post_content li {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

.small {
  font-size: $small-font-size;
}
.lead {
  font-weight: $lead-font-weight;
}
.p1{
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  @media (max-width: 1024px) {
    font-size: 18px;
    line-height: 28px;
  }
}
.p2{
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.p3{
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 20px;
  }
}

// List styles - only apply to rich text content areas
[data-rich-text] {
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    li {
      margin-bottom: 0.5rem;
      
      p {
        margin-bottom: 0;
      }
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    li {
      margin-bottom: 0.5rem;
      
      p {
        margin-bottom: 0;
      }
    }
  }
}

// ProseMirror/Tiptap editor list styles
.ProseMirror,
.tiptap .ProseMirror {
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    li {
      margin-bottom: 0.5rem;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    li {
      margin-bottom: 0.5rem;
    }
  }
}
