.btn,
.my-form__submit {
  padding: 0.625rem 1.5rem;
  width: 100%;
  display: flex;
  font-weight: $btn-font-weight;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: background-color $animate-easing;
  border-radius: $border-radius;
  &:hover {
    color: $white;
    background-color: bisque;
    text-decoration: none;
  }
}

.btn--sm {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
}

.btn--lg {
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
}

.btn--primary,
.my-form__submit {
  background: $primary;
  border: none;
  color: $white;
  &:hover {
    background: lighten($primary, 5%);
  }
}

.btn--secondary {
  background: $secondary;
  border: none;
  color: $btn-secondary-text;
  &:hover {
    background: lighten($secondary, 5%);
  }
}
