.button-arrow {
  background: $secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: $primary;
  cursor: pointer;
  transition: background-color $animate-easing, opacity $animate-easing;
  border: none;

  // Hover effect - will work with inline styles via opacity or filter
  &:hover:not(.swiper-button-disabled) {
    opacity: 0.8;
  }
}

.swiper-button-arrows {
  .button-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    &--prev {
      left: 0.5rem;
    }
    &--next {
      right: 0.5rem;
      .button-arrow__icon {
        transform: rotate(180deg);
      }
    }
    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: auto;
      &:hover {
        background: $secondary;
      }
    }
  }
}
