.btn,
.my-form__submit {
  padding: 0.625rem 1.5rem;
  width: 100%;
  display: flex;
  font-weight: $btn-font-weight;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: background-color $animate-easing;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover:not(:disabled),
  &:active:not(:disabled) {
    text-decoration: none;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.btn--sm {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
}

.btn--lg {
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
}

.btn--primary,
.my-form__submit {
  background: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  &:hover:not(:disabled),
  &:active:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.btn--secondary {
  background: $secondary;
  border: none;
  color: $btn-secondary-text;
  &:hover {
    background: lighten($secondary, 5%);
  }
}
