<style>
    .embed_video {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
        margin: auto;
    }
    
    .embed_video iframe,
    .embed_video object,
    .embed_video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 12px;
    }
    

    .video-responsive-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
    }
    
    .video-responsive-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 12px;
    }
    

    @media (max-width: 768px) {
        .embed_video,
        .video-responsive-wrapper {
            padding-bottom: 56.25%; 
        }
    }
</style>
{% if data.widget.embedCode %} 
    <div class="embed_video">
        {{ data.widget.embedCode | safe }}
    </div>
{% else %}
    <div class="video-responsive-wrapper">
        <iframe src="https://www.youtube.com/embed/eEzD-Y97ges?si=u8YcU0znn4gHTaKt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
    </div>
{% endif %}
