@import "../../../../asset/ui/src/scss/variables";

.side-by-side {
  display: flex;
  gap: 2rem;
  &__column-item {
    display: flex;
    flex-direction: column;
    min-width: 0; 
    box-sizing: border-box;
    overflow-wrap: break-word;
  }
  @media only screen and (min-width: 900px) {
    flex-direction: row;
    &__column-item {
      width: 50%;
    }
    &--reversed {
      flex-direction: row-reverse;
    }
  }
}
