{#
  Use this template to build out your 404 error pages. Like page templates,
  it inherits a global layout.
#}

{% extends "layout.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block main %}
<div class="h-full xl:h-full p-12 md:p-12 lg:p-40 overflow-hidden flex flex-col justify-center items-center gap-2 md:gap-4" id="main-content">
  <h2 class="leading-normal text-3xl text-center">404 Page not found</h2>
  <p class="text-center text-xl">We're sorry. We couldn't find the page you're looking for.</p>
  <button class="inline-flex items-center border px-4 py-2 bg-white text-black font-normal border-black" onClick="redirectToHomeFromNotFound()" type="button">
    <a href="/">Go to home</a>
  </button>
</div>
<script>
  function redirectToHomeFromNotFound () {
    window.location.href="/";
  }
</script>
{% endblock %}
