.fading-border {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  padding: 1.5px 1.5px 0 1.5px;
  box-shadow: 0px -2px 8px -2px #fff, 0px -2px 8px -2px white inset;
  background: linear-gradient(to bottom, #b8b8b8ff 0%, #ffffffff 98%);
}

.fading-border-inner {
  width: 100%;
  background-color: white;
  border-radius: 0.9rem;
  box-sizing: border-box;
}
.img {
  position: absolute;
  border-radius: 0.9rem;
  right: 1.5px;
  top: 1.5px;
  overflow: hidden;
}

.item {
  color: #0b3558;
  .heading {
    line-height: 1;
  }
  .subheading {
    line-height: 1.2;
  }
  .description {
    line-height: 1;
  }
}
