@import "../../../../asset/ui/src/scss/variables";

.accordion__button[aria-expanded="false"] .accordion__button-icon:after {
  content: "\25B7";
  margin-left: -0.25rem;
}

.accordion__button[aria-expanded="true"] .accordion__button-icon:after {
  content: "\25BC";
  margin-left: -0.25rem;
}
